<div id="tab-biblioteca" class="tab-content">
    <div class="library-header">
        <h2>Base de Movimentos</h2>
        <div class="search-box">
            <!-- O onkeyup chama a função de filtro a cada letra digitada -->
            <input type="text" id="searchInput" placeholder="Buscar exercício ou músculo..." onkeyup="FitApp.filterLibrary()">
        </div>
    </div>
    
    <!-- Onde o JavaScript vai injetar os 44 cartões -->
    <div id="libraryGrid" class="library-grid"></div>
</div>